body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/685/273/non_2x/silhouette-basketball-player-with-ball-on-a-white-background-illustration-vector.jpg);
    background-repeat: repeat;
}

.okk
{
    font-family: 'Arial Rounded MT';
    font-size: 40px;
    color: red;
    border: 4px solid blue; 
    text-align: center; 

}
.jojo
{
    font-family:Bahnschrift ;
    font-size: 20px;
    color: royalblue;
    
  
}
.jeje 
{
    font-family:Bahnschrift;
    font-size: 20px;
    color: darkred;
}

.jaja 
{
    font-family: Bahnschrift;
    font-size: 20px;
    color: yellow;
}

.juju 
{
    font-family: Bahnschrift;
    font-size: 20px;
    color: forestgreen;
}

.jiji 
{
    font-family: Bahnschrift;
    font-size: 20px;
    color: dimgray;
}


